//registry.npmjs.org/:_authToken=8dbe5ed2-cd8a-4ea9-8ad3-6a2f8c7d38e8
prefix=/Users/pgobin/.nvm/versions/node/v10.10.0
@fuse:registry=https://artifactory.internal.t-mobile.com:8443/artifactory/api/npm/npm-virtual/
strict-ssl=false
